<h1>Top 5 Ideas at <%= link_to current_user.company.try(:name) %></h1>
<div class="top5Grid">
  <ul class="small-block-grid-1 -block-grid-5 large-block-grid-5 showIdeas1">
    <%= render @top_5_ideas %>
  </ul>
</div>

<h1>All ideas at <%= link_to current_user.company.try(:name) %></h1>

<div>
  <ul class="small-block-grid-1 -block-grid-5 large-block-grid-5 showIdeas2">
    <%= render @ideas %>
  </ul>
</div>