<h1>Everyone at <%= link_to current_user.company.try(:name) %></h1>

<% @users.each do |user| %>
<% if current_user.company.id == user.company.try(:id) %>
  <%= user.name %>
  <%= user.company.try(:name)  %>
  <% end %>
<% end %>