<li>
<ul>
  <% if current_user.company.id == idea.user.company.try(:id) %>
  <li><%= link_to idea.user do %></li>
  <br>
    <%= image_tag idea.user.try(:image_url) %>
    <% end %>
  <li><%= link_to idea.title, idea %></li>
  <li>By <%= link_to idea.user.name, idea.user %></li>
  <% end %>
  </ul>
</li>
