// nav {
//   background: yellow;
// }

#hpimg {
  width: 40em;
  height: 40em;
  float: left;
}

#hptxtbx {
  background: yellow;
  background-position: 0 auto;
  font-size: 40px;
  width: 600px;
  height: 300px;
  float: right;
}