// nav {
//   background: yellow;
// }
html {
  font-family: 'Chivo', sans-serif;
}


#hpimg {
  width: 40em;
  height: 40em;
  float: left;
}

#hptxtbx {
  margin-top: 250px;
  background: yellow;
  border-radius: 25px;
  font-size: 30px;
  text-align: center;
  width: 600px;
  height: 150px;
  float: left;
}