body {
  font-family: 'Quicksand', sans-serif;
}

header {
  background: #35a0ca;
}

nav a {
  color: white;
}
nav a:hover {
  color: white;
}

.top-bar-section {
  outline: 0;
}

nav h1 {
  display: inline-block;
  font-size: 26px;
  line-height: 60px;
  margin-left: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
}

#logo {
  height: 3.4em;
  margin-left: 20px;
}

.homepage {
max-height: 50%; 
max-width: auto;
}

#logo2 {
  margin-top: 10%;
  max-height: auto;
  max-width: 25%;
  float:left;
  display: inline-block;
}

#hptxtbx {
  margin-top: 20%;
  font-size: 2.75vw;
  text-align: center;
  max-width: 60%;
  max-height: auto;
  float: left;
  display: inline-block;
  color: #35a0ca;
}

#featuresbox {
  clear: left;
}


section {
outline: 2px solid #2D7D9C;
width: 60%;
margin: 0 auto;
}

.field {
 outline: 2px solid #2D7D9C;
 width: 60%;
 margin: 0 auto; 
}

.actions {
  margin: 0 auto;
}
