body {
  font-family: 'Quicksand', sans-serif;
}

header {
  background: #35a0ca;
}

.top-bar-section {
  outline: 0;
}

nav h1 {
  display: inline-block;
  font-size: 26px;
  line-height: 60px;
  margin-left: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  color: white;
}

a {
  background: #35A0CA;
}

nav h1 a {
  color: white;
}


nav h1 a:hover {
  color: white;
}

#logo {
  height: 3.4em;
  margin-left: 20px;
}

#logo2 {
  width: 80%;
  margin: 30px;
}

#hptxtbxP {
  margin-top: 15%;
  font-size: 3.5vw;
  color: #2D7D9C;
}

#hptxtbx {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.yellowbox {
  clear: left;
  background: #FFD800;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

#benefitsbox {
  clear: left;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.featuresImg {
  width: 25%;
}

section {
margin: 0 auto;
}

.field {
 outline: 2px solid #FFD800;
 width: 60%;
 margin: 0 auto; 
 background: #FFD800;
 padding: 10px;
}

.actions {
  margin: 0 auto;
}

#aboutTxt {
  width: 85%;
  margin: 0 auto;
  padding: 25px;
}

footer {
  color: white;
  text-align: center;
  background: #35a0ca;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer h3 {
  margin-top: 20px;
  color: white;
}

.footerimg {
  width: 5%;
}

.showIdeas {
  display: inline
}

.showHTMLIdeas {
  margin: 0 auto;
  outline: 2px solid #35a0ca;
  width: 80%; 
}



#titleShowHTMLIdeas {
font-size: 4vw;
text-align: center;
}

#nameShowHTMLIdeas {
  font-size: 1.5vw;
  text-align: center;
}

.fieldsShowHTMLIdeas {
  font-size: 2vw;
  margin-left: 10%;
}

.top5Grid {
background: #FFD800;
padding: 20px;
}

.showIdeas1 ul li {
  list-style: none;
}

.showIdeas2 ul li {
  list-style: none;
}

h1 {
  text-align: center;
}

input[type=submit] {
  width: 60%;
  display: block;
  margin: 20px auto;
}

button {
  background: #35a0ca;
  width: 100%;
  font-size: 3vw;
  padding: 20px;
}

button a:hover {
  background: #FFD800;
}

.float {
 float: left;
}

#pieStyle {
  background: #35a0ca;
}

#pieStyletxt {
  outline: 2px solid #35a0ca;
  text-align: center;
  background: #35a0ca;
  font-size: 3vw;
  color: white;
}

#myProfile {
  width: 60%;
  margin: 0 auto;
  outline: 2px solid #35a0ca;
  padding: 20px;
}

.myProfileField {
  font-size: 1.5vw;
}

.myProfileImg {
  width: 300px;
  margin-left: 30%;
}

.cancelFunc {
  text-align: center;
}

#myCompany {
  width: 60%;
  margin: 0 auto;
  outline: 2px solid #35a0ca;
  padding: 20px;
}

.myCompanyField {
  font-size: 1.5vw;
}
