<h1> home </h1>

<img id="hpimg" src="http://www.ideaconnection.com/blog/wp-content/uploads/2015/04/Dollarphotoclub_73746386.jpg"/>

<p id="hptxtbx">
  bulb is a platform for employees to propose and vote on ideas that help to improve business and strategy in their companies.</p>

